.yui-g
  %div{ :class => 'yui-g first'}
    %div{ :class => 'yui-u first'}
      .data-box
        %h4
          Open Tickets
        %h3
          = @open_ticket_stats.number_of_open_tickets
    .yui-u
      .data-box
        %h4
          Oldest Ticket
        %h3
          = "#{@open_ticket_stats.oldest_ticket_age_in_days} days old"
  .yui-g
    %div{ :class => 'yui-u first'}
      .data-box
        %h4
          Newest Ticket
        %h3
          = "#{@open_ticket_stats.youngest_ticket_age_in_days} days old"
    .yui-u
      .data-box
        %h4
          Average Ticket Age
        %h3
          = "#{@open_ticket_stats.average_ticket_age_in_days} days old"

.yui-g
  %h2
    Open Tickets by Age in Weeks
  #ticket-age-graph

.yui-g
  %h2
    Resolved Tickets By Fortnight
  #tickets-resolved-by-fortnight
%script{ :type => 'text/javascript' }
  = "var ticket_age_by_week = [#{@open_ticket_stats.num_tickets_by_age_in_weeks.join(',')}];"

:javascript
  
  window.onload = function () {
      setupTicketsByAgeGraph()
  };